doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width', initial-scale='1.0', user-scalable='no')
  title Infinity Chat - The Real Chatroom by Saikat
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='manifest' href='/mainfest.json')
  
.main.noselect
  nav
    div.titleContainer
      img.logo(src='/media/logo.svg', alt='logo')
      p#title Infinity Chat
    div
      span.material-icons#more-menu more_vert
  .users.noselect
  .chats
  form.send(action='#')
    textarea#messageInp(autocomplete='off' name='messageInp' placeholder='Type a message...')
    button#sendBtn(type='submit')
      span.material-icons send

#goToEnd.end.noselect
  span.material-icons#goToEndBtn arrow_downward
  span#msgCount 
#loadingScreen.over.noselect
  .promptContainer.row
    div.spinner
    p Joining...
  
#myPrompt.over.noselect
  .promptContainer
    img(src='/media/logo.svg' alt='')
    form.content#nameForm
      label(for='nameInp') Join as...
      input.inp#nameInp(type='text' autocomplete='off')
      button.btn.btn-3#nameBtn(type='submit') Join

script(src="/socket.io/socket.io.js")
script(src='/js/myfoos.js')
script(src='/js/connection.js')
script(src='/js/main.js')