doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Infinity Chat - The Real Chatroom by Saikat
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')
  
nav.noselect
  img.logo(src='/media/logo.png' alt='')
  p#title Infinity Chat
#main
  #users
  
  .chatBox
    .container
    form.send#send-container(action='#')
      input#messageInp(type='text' autocomplete='off' name='messageInp' placeholder='Type a message...')
      button.btn.noselect(type='submit')
        span.material-icons send
script(src="/socket.io/socket.io.js")
script(src='/js/main.js')
script(src='/js/connection.js')