
* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
    /*
   color1:  #3978c5
  color2:   #4a86c6
    */
  --theme-color: #3978c5;
  --theme-gradiant: linear-gradient(200deg, rgba(57,120,197,1) 35%, rgba(74,134,198,1) 100%);
  --gray: lightgray;
  --light-gray: rgb(237,237,237);
  height: 100vh;
  overflow-y: hidden;
}
nav {
  padding: 0 3vw;
  /*position: sticky;*/
  /*top: 0;*/
  /*left: 0;*/
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  background: white;
  box-shadow: gray 1px 0px 1px 0px;
}
.logo {
  height: 3rem;
}
#title {
  margin: 0 5px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main{
  /*border: 1px solid green;*/
  display: flex;
  height: calc(100% - 58px);
  width: 100%;
  justify-content: space-around;
}
#users{
  background: var(--light-gray);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  font-family: Arial, Sans-Serif;
}
.user{
  margin: 2%;
  padding: 5px;
}
.info{
  color: var(--theme-color);
}
.userName{
  font-size: 1.2rem;
}
.chatBox {
  /*border: 1px solid cyan;*/
  max-width: 955px;
  height: 100%;
  flex-grow: 8;

}
.container {
  /*border: 1px solid blue;*/
  margin: auto;
  overflow-y: auto;
  height: calc(100% - 111px);
  padding: 3vw;
}

.message-container {
  padding: 10px;
  margin: 5px 0;
  border-radius: 1rem;
  font-family: Arial, sans-serif;
  max-width: 80%;
}
.sender-name{
  color: var(--theme-color);
  font-size: 0.8rem;
}
.left {
  background: var(--gray);
  float: left;
  clear: both;
}

.right {
  background: var(--theme-gradiant);
  color: white;
  float: right;
  clear: both;
}

.center {
  font-size: 0.7rem;
  background: var(--gray);
  color: var(--theme-color);
  float: left;
  clear: both;
}

.send {
  /*border: 1px solid red;*/
  position: sticky;
  bottom: 0;
  right: 0;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background: white;
  padding: 5px;
  margin: 0;
}
#messageInp {
  border: none;
  border-radius: 10000px;
  background: var(--light-gray);
  height: 45px;
  padding: 0 9px;
  font-size: 1.1rem;
  margin: 0;
  width: calc(100% - 68px);
}

.btn {
  border: none;
  background: none;
  color: var(--theme-color);
  font-weight: bold;
  margin-left: 5px;
  width: 40px;
  cursor: pointer;
  border-radius: 6px;
  height: 40px;
}


@media only screen and (max-width: 500px){
  #main{
    display: block;
  }
  #users{
    flex-direction: row;
    overflow-x: auto;
    height: 50px;
    padding: 0 5px;
  }
  .user{
    /*border: 1px solid red;*/
    margin: 0 5px;
  }
  .userName{
    font-weight: bold;
  }
  .container{
    height: calc(100% - 170px);
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}