.user{
  padding: 2% 4%;
  transition: .5s;
  font-weight: bold;
}

.user:hover{
  background: var(--light-gray);
}

.info{
  color: var(--theme-color);
  font-weight: normal;
}

.userName{
  font-size: 1.2rem;
}